/* Crafted with love by wolfcreative.ru :3 */
@font-face{font-family:'Proxima Nova Regular';src:url(../fonts/ProximaNova-Regular.eot);src:url(../fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Regular.woff) format("woff"),url(../fonts/ProximaNova-Regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:'Proxima Nova Light';src:url(../fonts/ProximaNova-Light.eot);src:url(../fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Light.woff) format("woff"),url(../fonts/ProximaNova-Light.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Proxima Nova Bold';src:url(../fonts/ProximaNova-Bold.eot);src:url(../fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Bold.woff) format("woff"),url(../fonts/ProximaNova-Bold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Proxima Nova Black';src:url(../fonts/ProximaNova-Black.eot);src:url(../fonts/ProximaNova-Black.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Black.woff) format("woff"),url(../fonts/ProximaNova-Black.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Proxima Nova Semibold';src:url(../fonts/ProximaNova-Semibold.eot);src:url(../fonts/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/ProximaNova-Semibold.woff) format("woff"),url(../fonts/ProximaNova-Semibold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'GT Walsheim Pro Regular';src:url(../fonts/gtwalsheimpro-webfont.woff2) format("woff2"),url(../fonts/gtwalsheimpro-webfont.woff) format("woff");font-weight:400;font-style:normal}

%container-padding{
    padding:50px 0 65px;
    @media (max-width:959px){padding:30px 0 40px}
}

$color-green:#26ca10;

body{
    margin:0 auto;font-family:'Proxima Nova Regular',sans-serif;font-size:18px;line-height:1.3;color:#000;
    @media (max-width:959px){font-size:16px;line-height:22px}
}
.uk-container{max-width:1140px}
a{color:#000;transition:.2s ease-in-out}
a:hover,a:focus{color:rgb(138, 138, 138);text-decoration:none;transition:.2s ease-in-out}
b,strong{font-weight:normal;font-family:'Proxima Nova Bold',sans-serif}
.uk-text-semibold{font-family:'Proxima Nova Semibold',sans-serif}
blockquote{color:#000;font:18px 'Proxima Nova Regular',sans-serif;line-height:1.3;font-style:normal;padding-left:18px;border-left:2px solid $color-green}
sup{font-size:11px}

.afterhead{
    width:100%;background:url('../img/backgrounds/afterhead.jpg') no-repeat center / cover;

    nav{
        width:355px;background:rgba(20,20,20, 0.95);font:16px/22px 'Proxima Nova Light',sans-serif;
        @media(max-width:959px){width:310px}
        @media(max-width:639px){width:100%}

        >div{
            padding:35px 45px;
            @media(max-width:639px){padding:23px 15px 20px}

            .logo{
                font-size:20px;line-height:26px;color:#c8c8c8;
                @media (max-width:639px){font-size:16px;line-height:22px}
            }
            
            ul{
                margin:80px 0 100px!important;
                @media(max-width:959px){margin:61px 0 68px!important}

                a{font-size:20px;line-height:28px}
            }
    
            .phone{
                font-size:16px;line-height:22px;
                a{font-size:20px}
            }
    
            .social{
                margin:25px 0 5px;display:block;
                .uk-icon{width:30px;height:30px;background:#d2d2d1;color:#111}
            }
        }
    }

    .right{
        >div{
            height:100%;box-sizing:border-box;padding:25px 40px;position:relative;
            @media(min-width:640px){.bottom{position:absolute;bottom:40px}}
            @media(max-width:959px){padding:30px 15px}
        }
        @media(max-width:959px){background:rgba(0,0,0,0.1)}
        @media(max-width:639px){background:rgba(0,0,0,0.3)}
    }
}

.about{
    @extend %container-padding;

    @media (min-width:1200px){
        background:url(../img/shashki.png) no-repeat top right -200px;padding-bottom:280px;
        .uk-container>*{max-width:710px}
    }
    @media (min-width:1340px){background-position:top right}

    .uk-container{
        .uk-text-semibold{font-size:20px}
    }
}

.scope{
    @extend %container-padding;

    @media (min-width:1200px){margin-top:-280px}

    .uk-width-360{
        width:390px;
        @media(max-width:959px){width:340px}
        @media(max-width:639px){width:50%}
    }
    
    .uk-inline>img{min-height:340px;height:100%;border-radius:3px;object-fit:cover}

    .uk-overlay{
        @media(max-width:639px){padding:20px}
        @media(max-width:439px){padding:20px 15px}
    }
    .uk-overlay-primary{background:rgba(0, 0, 0, 0.3);border-radius:3px}

    h3,p{color:#fff}
    @media(max-width:439px){
        h3{font-size:20px}
        p{font-size:14px}
    }
}

.advantages{
    @extend %container-padding;

    p{
        font:22px 'Proxima Nova Bold',sans-serif;
        @media(max-width:959px){font-size:18px}
    }
}

.benefit{
    @extend %container-padding;

    background:#e2eee0;position:relative;
    &:before{content:url(../img/benefit/ben-left.png);position:absolute;z-index:2;left:0;top:0}
    &:after{content:url(../img/benefit/ben-right.png);position:absolute;z-index:2;right:0;top:0}
    @media (max-width:959px){overflow:hidden}

    >.uk-container{
        position:relative;z-index:3;

        h2+p{font-size:22px}

        .uk-grid{
            span{font-size:30px;display:block;margin-bottom:15px;color:#000}

            .uk-button{width:96%;margin-top:15px;box-shadow:none}
        }
    }
}

.basicly{
    @extend %container-padding;

    @media (min-width:1200px){
        background:url(../img/backgrounds/benefit.png) no-repeat center left;
        .uk-container{max-width:824px}
    }

    >.uk-container{
        .uk-card{
            border:1px solid #eee;padding:35px 40px 25px;border-radius:2px;position:relative;z-index:3;margin-top:35px;background:#fff;

            &:before{content:'';position:absolute;top:-8px;left:1%;width:98%;height:6px;border:1px solid #eee;border-bottom:none;border-radius:2px}
            &:after{content:'';position:absolute;top:-14px;left:2%;width:96%;height:6px;border:1px solid #eee;border-bottom:none;border-radius:2px}
            h3{font:24px 'Proxima Nova Bold',sans-serif;color:$color-green}
        }
    }
}

.formline{@extend %container-padding;background:#e6e6e6}

.recomend{
    @extend %container-padding;

    background:#e2eee0;position:relative;
    &:before,&:after{content:url(../img/benefit/ben-left.png);position:absolute;z-index:2;left:0;top:0}
    &:after{content:url(../img/benefit/ben-left.png);transform:scaleX(-1);left:auto;right:0}
    @media (max-width:959px){overflow:hidden}

    >.uk-container{position:relative;z-index:3}
}

.reviews{
    @extend %container-padding;

    background:#efefef;position:relative;z-index:3;

    .uk-slider{
        max-width:550px;margin:0 auto;

        .wrapper{
            padding-top:20px;

            p{
                position:relative;padding:25px 35px;font-size:26px;margin:0;line-height:normal;
                @media(min-width:960px){
                    padding:65px 55px 55px;
                    &:before{content:'“';font:66px 'GT Walsheim Pro Regular',sans-serif;color:#a8a8a8;position:absolute;top:0; left:0}
                    &:after{content:'”';font:66px 'GT Walsheim Pro Regular',sans-serif;color:#a8a8a8;position:absolute;bottom:0; right:0;line-height:20px}
                }

                @media(max-width:959px){font-size:22px}
                @media(max-width:439px){font-size:20px;padding:10px 15px}
            }

            hr{border-color:#d9d9d9}

            .autor{
                padding:10px 55px;font-size:20px;
                @media(max-width:959px){font-size:18px;padding:5px 35px}
                @media(max-width:439px){font-size:16px;padding:10px 15px}

                span{color:#a5a5a5}
            }
        }

        .uk-slidenav{
            color:#000;background:#fff;padding:14px 19px;border-radius:100px;
            &:hover,&:focus{background:#cecece}
        }
    }
}

.staffbox{@extend %container-padding}

.formbox{
    @extend %container-padding;padding-top:5px;
    
    .box{border:4px solid #e6e6e6;padding:25px 10px 35px}
}

.map{
    .uk-container{
        height:440px;margin-top:-440px;

        .uk-card{
            width:340px;margin:10px 0;font-size:24px;line-height:normal;text-transform:uppercase;color:#000;padding:15px 23px;box-sizing:border-box;
            span{font-size:16px;color:#9f9e9e;text-transform:none}
        }
    }
}

.notify-survey{background:#202021;z-index:50}
.notify-survey .empty i{width:100%;height:100%;background:url(../img/backgrounds/notify.jpg) center / cover;display:block}
.notify-survey .empty:before{content:'';position:absolute;top:0;left:0;width:0;height:0;border-style:solid;border-width:93px 93px 0 0;border-color:#202021 transparent transparent}
.notify-survey .empty:after{content:'';position:absolute;top:0;right:0;border-style:solid;border-width:0 0 93px 93px;border-color:transparent transparent #202021}
.notify-survey .info{padding:12px 10px}
.notify-survey h2{color:#fff;font-size:20px;line-height:19px;margin-bottom:7px}
.notify-survey h2 span{color:#41b236}
.notify-survey p{color:#fff;font-size:12px;opacity:.7;text-transform:uppercase}
@media (max-width:1200px){
.notify-survey .button{text-align:right}
.notify-survey .info{padding:12px 10%}
}
@media (max-width:959px){
.notify-survey .info{padding:12px 4%}
}
@media (max-width:479px){
.notify-survey h2{font-size:16px}
.notify-survey .uk-button{padding:0 15px}
}

footer{font-size:16px;color:#9f9e9e;padding:25px 0}

h1,h2,h3,h4,.uk-h1{font-family:'Proxima Nova Black',sans-serif;line-height:normal;color:#000}
h1,.uk-h1{
    max-width:680px;font-size:68px;line-height:80px;text-shadow:0 0 5px rgba(0, 0, 0, 0.6);
    @media(max-width:1199px){font-size:52px;line-height:60px}
    @media(max-width:959px){font-size:43px;line-height:50px}
    @media(max-width:639px){font-size:34px;line-height:normal}
    @media(max-width:439px){font-size:30px}

    span{
        font:38px/68px 'Proxima Nova Regular',sans-serif;
        @media(max-width:959px){font-size:28px;line-height:48px}
        @media(max-width:639px){font-size:24px;line-height:normal}
        @media(max-width:439px){font-size:22px}
    }
}
h2,h3{
    font-size:48px;
    @media(max-width:959px){font-size:34px}
    @media(max-width:639px){font-size:28px}
}

.subtitle{font-size:22px;margin:-10px 0 25px}

.uk-modal .text{text-align:center;margin-top:-15px}

.uk-button{
    border-radius:4px;text-transform:none;

    &.uk-button-green{
        background-color:$color-green;color:#fff;
        &:hover,&:focus{background-color:darken($color-green, 10%)}
    }
    &.uk-button-green_ghost{
        border:1px solid $color-green;color:$color-green;background:#fff;
        &:hover,&:focus{background:$color-green;color:#fff}
    }

    &.uk-button-medium{
        font:18px/48px 'Proxima Nova Regular',sans-serif;
        @media(max-width:959px){font-size:16px;line-height:38px}
    }
    &.uk-button-large{
        font:22px/58px 'Proxima Nova Bold',sans-serif;box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.6);
        @media(max-width:959px){font-size:18px;line-height:48px}
    }
}

.uk-input{height:48px;border-radius:4px}
.uk-link-green{
    color:$color-green;border-bottom:1px solid $color-green;
    &:hover,&:focus{color:darken($color-green, 10%);border-bottom:1px solid darken($color-green, 10%)}
}
.uk-list-arrow li{
    padding-left:30px;position:relative;
    &:before{content:'';width:15px;height:17px;background:url(../img/awesome/list-arrow.png);position:absolute;left:0;top:50%;transform:translate(-50%, -50%)}
}
.uk-list-dotted li{
    padding-left:15px;position:relative;
    &:before{content:'';width:6px;height:6px;background:#fff;border:1px solid $color-green;border-radius:10px;position:absolute;left:0;top:50%;transform:translate(-50%, -50%)}
}